.first-container,.second contaniner;{

width:900px;
height:500px; */
border:2px solid;
margin:5px;
}
.item-1,.item-2,.item-3,.item-4{
  width: 200px;
  height: 490px;
   border: 2px solid; 
  margin:5px;
  display: inline-block;
  vertical-align:top;

}
img{
   width: 100px;
}
h3,p{
    text-align: center;
    padding: 5px;
}